
@{
    ViewData["Title"] = "HayatYazılımlaBaslar";
    Layout = "~/Views/Shared/_BloglarLayout.cshtml";
}

<!DOCTYPE html>
<html lang="zxx">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Weblog a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="~/BlogTema/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="~/BlogTema/css/single.css" rel='stylesheet' type='text/css' />
	<link href="~/BlogTema/css/style.css" rel='stylesheet' type='text/css' />
	<link href="~/BlogTema/css/fontawesome-all.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
	    rel="stylesheet">
		<link href="~/BlogTema/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="~/BlogTema/css/single.css">
	<link href="~/BlogTema/css/style.css" rel='stylesheet' type='text/css' />
	<link href="~/BlogTema/css/fontawesome-all.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
	    rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<!--Header-->


	<!--//header-->

	<!--/banner-->
	<!--//banner-->
	<!--/main-->
	<section class="main-content-w3layouts-agileits">
		<div class="container" style="margin-right:200px;">
			<h3 class="tittle" style="margin-right:400px;">Hayat Yazılımla Başlar</h3>
			<div class="row inner-sec">
				<!--left-->
				<div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
					<div class="blog-grid-top">

						<div class="blog_info_left_grid">
								<img src="~/BlogTema/images/code.png" class="img-fluid" alt="">							
						</div>
						<h3>
							Yazılımın Hayatımızda ki Yeri
						</h3>
						<p>Blog üzerinde ki ilk yazımın içeriğine herkese “Merhaba!” diyerek başlamak istiyorum.<br />İlk yazım da ‘Programcılığın Hayatımızdaki Yeri ve Önemi’ konusunu ele alırken bunun yanında “Neden programlama öğrenmeliyiz?” sorusuna da cevap vermeye çalışacağım.

Ülkemizde “Programcılık nedir?” diye sokak röportajı yapılsa ortaya ne tür cevaplar çıkar hiç düşündünüz mü?  Şahsen ben düşündüm ve açıkçası fazlasıyla trajikomik cevapların geleceği yargısı uyandı. Çünkü toplumumuz bu konulara karşı maalesef duyarsız kalıyor. Tabi suçun tamamını toplumda aramak yanlış olur. Bunda devletin hatta televizyonlarda ki sözde eğitici programların bile etkisi vardır. Şimdi gereken yerlere eleştiriyi yaptıktan sonra kendimizde de suç arayabiliriz ve hatta en büyük suçun kendimizde olduğunu varsayarak toplumu bilinçlendirmeye ilk önce kendimizden başlayabiliriz.
</p>
<label for="exampleInputEmail1 mb-2">Yazar:Alparslan AKBAŞ</label>
					</div>
				</div>
				<!--//left-->
				<!--right-->
				<!--//right-->
			</div>
		</div>
	</section>
	<!--//main-->

	<!--footer-->

	<!---->
	<!-- js -->
	<script src="js/jquery-2.2.3.min.js"></script>
	<!-- //js -->
	<!--/ start-smoth-scrolling -->
	<script src="js/move-top.js"></script>
	<script src="js/easing.js"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!--// end-smoth-scrolling -->

	<script>
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<a href="#home" class="scroll" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>

	<!-- //Custom-JavaScript-File-Links -->
	<script src="js/bootstrap.js"></script>


</body>

</html>

