@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_BloglarLayout.cshtml";
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Anasayfa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Weblog a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/BlogTema/css/jquery.desoslide.css">
    <link href="~/BlogTema/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/BlogTema/css/single.css">
    <link href="~/BlogTema/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/BlogTema/css/fontawesome-all.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!--Header-->
    <!--//header-->
    <!--/banner-->
    <div class="banner">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="carousel-caption">
                        <h3>
                            Kendi Algoritmanızı Oluşturun
                            <span>Araştırmak</span>
                        </h3>
                        <div class="read">
                            <a href="/Anasayfa/KendiAlgoritmanızıOlusturun" class="btn btn-primary read-m">Daha Fazlası...</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item item2">
                    <div class="carousel-caption">
                        <h3>
                            Yazılımla Hayatınızı Kolaylaştırın
                            <span>Kod Yazmak</span>
                        </h3>
                        <div class="read">
                            <a href="/Anasayfa/HayatYazılımlaBaslar" class="btn btn-primary read-m">Daha Fazlası...</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item item3">
                    <div class="carousel-caption">
                        <h3>
                            Kendinize Bir Dil Berirleyin
                            <span>Diller</span>
                        </h3>
                        <div class="read">
                            <a href="/Anasayfa/KendinizeBirDilBerirleyin" class="btn btn-primary read-m">Daha Fazlası...</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item item4">
                    <div class="carousel-caption">
                        <h3>
                            Projelerinizi Yazılımcılarla Paylaşın
                            <span>Github</span>
                        </h3>
                        <div class="read">
                            <a href="/Anasayfa/PojeleriniziYazilimcilarlaPaylasin" class="btn btn-primary read-m">Daha Fazlası...</a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Önceki</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Sonraki</span>
            </a>
        </div>
    </div>
    <!--/model-->
    <!--//banner-->
    <!--/main-->
    <section class="main-content-w3layouts-agileits">
        <div class="container">
            <div class="row">
                <!--left-->
                <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                    <div class="blog-grid-top">
                        <div class="b-grid-top">
                            <div class="blog_info_left_grid">
                                <img src="~/BlogTema/images/image.png" class="img-fluid" alt="">
                            </div>
                        </div>
                        <h3>
                            Neden C# ?
                        </h3>
                        <p>
                            C#; Microsoft tarafından .NET Teknolojisi için geliştirilen modern bir programlama dilidir. Sözdizimi C-like (C benzeri) bir deneyim sunar.

                            Microsoft tarafından geliştirilmiş olsa da ECMA ve ISO standartları altına alınmıştır.

                            C programlama dilinde bir tam sayı değişkeni 1 artırmak için değişkenden sonra "++" eki kullanılır. C++ dilinin adı, C diliyle Nesne Yönelimli Programlama yapabilme olanağı (C with Classes) için eklentiler sağladığı için "C++" şeklindedir. Benzer şekilde C++ diline yeni eklentiler yapılarak ((C++)++) bir adım daha da ileriye götürülmüş ve tamamen nesneye yönelik tasarlanmış C# dilinin isimlendirilmesinde, + karakterlerinin birbirlerine yakınlaşmış hali ve bir melodi anahtarı olan C# Major kullanılmıştır.

                            Bu dilin tasarlanmasına Pascal, Delphi derleyicileri ve J++ programlama dilinin tasarımlarıyla bilinen Anders Hejlsberg liderlik etmiştir.

                            Birçok alanda Java'yı kendisine örnek alır ve C# da java gibi C ve C++ kod sözdizimine benzer bir kod yapısındadır. .NET kütüphanelerini kullanmak amacıyla yazılan programların çalıştığı bilgisayarlarda uyumlu bir kütüphanenin ve yorumlayıcının bulunması gereklidir. Bu, Microsoft'un .NET Framework'u olabileceği gibi ECMA standartlarına uygun herhangi bir kütüphane ve yorumlayıcı da olabilir. Yaygın diğer kütüphanelere örnek olarak Portable.Net ve Mono verilebilir.

                            Nesne yönelimli programlama kavramının gelişmesine katkıda bulunan aktif programlama dillerinden biridir.

                            C#, .NET orta seviyeli programlama dillerindendir. Yani hem makine diline hem de insan algısına eşit seviyededir. Buradaki orta ifadesi dilin gücünü değil makine dili ile günlük konuşma diline olan mesafesini göstermektedir. Örneğin; Visual Basic .NET (VB.NET) yüksek seviyeli bir dildir dersek bu, dilin insanların günlük yaşantılarında konuşma biçimine yakın şekilde yazıldığını ifade etmektedir. Dolayısıyla VB.NET, C#.NET'ten daha güçlü bir dildir diyemeyiz.

                            Programın çalışması istenen bilgisayarlarda framework kurulu olması gerekmektedir. (Windows 7 ve Windows Vista'da .NET Framework kuruludur)
                          <br />  Yazar: Alparslan Akbaş
                        </p>
                    </div>
                   @await Component.InvokeAsync("Son2Proje")
                </div>
                <!--//silder-->
                <!--//silder-->
                <!--//left-->
                <!--right-->
                <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                    <div class="right-blog-info text-left">
                        @await Html.PartialAsync("~/Views/Aboneler/AboneOl.cshtml")
                        <div class="month">
                            <ul>
                                <li>
                                    @DateTime.Now.ToShortDateString()<br>
                                </li>
                            </ul>
                        </div>

                        <ul class="weekdays">
                            <li>Pzt</li>
                            <li>Sal</li>
                            <li>Çar</li>
                            <li>Per</li>
                            <li>Cum</li>
                            <li>Cmt</li>
                            <li>Paz</li>
                        </ul>

                        <ul class="days">
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li>7</li>
                            <li>8</li>
                            <li>9</li>
                            <li>10</li>
                            <li>11</li>
                            <li>12</li>
                            <li>13</li>
                            <li>14</li>
                            <li>15</li>
                            <li>16</li>
                            <li>17</li>
                            <li>18</li>
                            <li>19</li>
                            <li>20</li>
                            <li>21</li>
                            <li>22</li>
                            <li>23</li>
                            <li>24</li>
                            <li>25</li>
                            <li>26</li>
                            <li>27</li>
                            <li>28</li>
                            <li>29</li>
                            <li>30</li>
                            <li>31</li>
                        </ul>
                        <br />
                        @await Component.InvokeAsync("YazarSonBlog")
                    </div>
                </aside>
                <!--//right-->
            </div>
        </div>
    </section>
    <!-- js -->
    <script src="~/BlogTema/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- desoslide-JavaScript -->
    <script src="~/BlogTema/js/jquery.desoslide.js"></script>
    <!-- requried-jsfiles-for owl -->
    <script src="~/BlogTema/js/jquery.flexisel.js"></script>
    <!--/ start-smoth-scrolling -->
    <script src="~/BlogTema/js/move-top.js"></script>
    <script src="~/BlogTema/js/easing.js"></script>
    <!--// end-smoth-scrolling -->
    <a href="#home" class="scroll" id="toTop" style="display: block;">
        <span id="toTopHover" style="opacity: 1;"> </span>
    </a>
    <!-- //Custom-JavaScript-File-Links -->
    <script src="~/BlogTema/js/bootstrap.js"></script>
</body>

</html>