
@{
    ViewData["Title"] = "KendinizeBirDilBerirleyin";
    Layout = "~/Views/Shared/_BloglarLayout.cshtml";
}

<!DOCTYPE html>
<html lang="zxx">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Weblog a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="~/BlogTema/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="~/BlogTema/css/single.css" rel='stylesheet' type='text/css' />
	<link href="~/BlogTema/css/style.css" rel='stylesheet' type='text/css' />
	<link href="~/BlogTema/css/fontawesome-all.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
	    rel="stylesheet">
		<link href="~/BlogTema/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="~/BlogTema/css/single.css">
	<link href="~/BlogTema/css/style.css" rel='stylesheet' type='text/css' />
	<link href="~/BlogTema/css/fontawesome-all.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
	    rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<!--Header-->


	<!--//header-->

	<!--/banner-->
	<!--//banner-->
	<!--/main-->
	<section class="main-content-w3layouts-agileits">
		<div class="container" style="margin-right:200px;">
			<h3 class="tittle" style="margin-right:400px;">Kendinize Bir Dil Berirleyin</h3>
			<div class="row inner-sec">
				<!--left-->
				<div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
					<div class="blog-grid-top">

						<div class="blog_info_left_grid">
								<img src="~/BlogTema/images/Prog-languages.png" class="img-fluid" alt="">							
						</div>
						<h3>
							En Çok Kullanılan Diller
						</h3>
						<p>
							Daha önce kodlamanın önemini duymuşsunuzdur, şimdi nihayet başlamaya hazırsınız. Kodlama öğrenmek denildiğinde aklımıza gelen ilk sorular şunlar: "Hangi programlama dillerini öğrenmeli?", "Ne amaçla öğrenmeli?", "Nereden öğrenmeli?"<br />
        İşte cevaplar!<br /> <h3>1. Swift</h3> <br />
		<img src="~/BlogTema/images/swift.png" class="img-fluid" alt="">  
		<p>Swift, Apple tarafından öğrenmesi kolay ancak profesyoneller için hâlâ yeterince güçlü olması gereken genel amaçlı bir dil olarak oluşturulmuştur. iPhone'lar ve iPad'ler için uygulamalar oluşturmak için kullanılmaktadır. Apple, çocukların Swift kullanarak kod yazmayı öğrenmeleri için sanal bir Apple Camp bile üretmiştir.</p>
<br />
<h3>2. Python</h3>
<img src="~/BlogTema/images/pyhton.png" class="img-fluid" alt="">
<p>Python, yaygın olarak en kapsamlı kod dili olarak kabul edilir ve YouTube'dan Instagram'a, finansal analiz araçlarına kadar çok çeşitli web uygulamaları oluşturmak için kullanılmaktadır. Ayrıca geniş bir geliştirici topluluğuna sahiptir ve kullanımı kolaydır, yani başlamak için harika bir dildir. Kod okunabilirliğine odaklanır ve mükemmel kütüphane desteğine sahiptir, bu da onu bir sonraki projeniz için bir başlangıç noktası olarak veya büyük uygulamaları ölçeklendirmek için iyi bir seçenek haline getirmektedir.</p>
<br />
<h3>3. JavaScript</h3>
<img src="~/BlogTema/images/javascript.png" class="img-fluid" alt="">
<p>JavaScript genellikle Web uygulamalarının ön ucunu oluşturmak için kullanılmaktadır (bu uygulamalara güç veren arka uç araçlarının aksine). Örneğin, duyarlı Web öğelerinde yaygın olarak kullanılmaktadır. Dolayısıyla, bir form başlatmak için web sitesindeki bir düğmeyi tıklarsanız, JavaScript muhtemelen daha sonra ne olacağına güç verir. JavaScript muhtemelen bu listedeki en popüler kodlama dilidir ve ayrıca öğrenmesi en kolay olanlardan biridir.</p>
<br />
<h3>4. Java</h3>
<img src="~/BlogTema/images/java.png" class="img-fluid" alt="">
<p>Java genellikle arka uç geliştirme için kullanılmaktadır. Ayrıca Android geliştirme için de yaygın olarak kullanılmaktadır. Öğrenmesi bu listedeki diğer dillerden daha zor olsa da, geniş kullanımı ve çok yönlülüğü onu uygulamalara veya arka uç geliştirmeye girmek isteyenler için sağlam bir seçim haline getirmektedir.</p>

<h3>5. C/ C++</h3>
<img src="~/BlogTema/images/c.png" class="img-fluid" alt="">
<p>C/ C++ uzun zamandır var, yani her ikisini de kullanarak kod yazmayı öğrenmek için bir dizi kaynak var. C daha genel amaçlı bir kod dilidir, C++ ise orijinalin bir uzantısıdır. Buradaki listede 5 numaradayken, aslında özellikle işletim sistemleri veya dosya yönetimi için programlama öğrenmek istiyorsanız, temel programlama dillerinden biridir. Aynı zamanda evrensel olarak desteklendiği için çok platformlu geliştirme için yaygın olarak kullanılmaktadır. Öğrenmek biraz daha zor, ama C/ C++ bilen programcılar için her zaman birçok iş var.</p>
<br />
<p>Kod yazmayı öğrenmek için

Kodlama konusunda kurslar sunan birçok harika yer var. Örneğin GitHub'da ücretsiz kod yazmayı öğrenebileceğiniz bir freeCodeCamp bulunmaktadır. CodeAcademy, çeşitli programlama dilleri için ücretsiz ve ücretli seçenekler sunar. Coursera ise, profesörler tarafından verilen üniversite düzeyinde derslere erişim sağlamaktadır.
						</p>
<label for="exampleInputEmail1 mb-2">Yazar:Alparslan AKBAŞ</label>
					</div>
				</div>
				<!--//left-->
				<!--right-->
				<!--//right-->
			</div>
		</div>
	</section>
	<!--//main-->

	<!--footer-->

	<!---->
	<!-- js -->
	<script src="js/jquery-2.2.3.min.js"></script>
	<!-- //js -->
	<!--/ start-smoth-scrolling -->
	<script src="js/move-top.js"></script>
	<script src="js/easing.js"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!--// end-smoth-scrolling -->

	<script>
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<a href="#home" class="scroll" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>

	<!-- //Custom-JavaScript-File-Links -->
	<script src="js/bootstrap.js"></script>


</body>

</html>

