
@{
    ViewData["Title"] = "PojeleriniziYazilimcilarlaPaylasin";
    Layout = "~/Views/Shared/_BloglarLayout.cshtml";
}

<!DOCTYPE html>
<html lang="zxx">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Weblog a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="~/BlogTema/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="~/BlogTema/css/single.css" rel='stylesheet' type='text/css' />
	<link href="~/BlogTema/css/style.css" rel='stylesheet' type='text/css' />
	<link href="~/BlogTema/css/fontawesome-all.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
	    rel="stylesheet">
		<link href="~/BlogTema/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="~/BlogTema/css/single.css">
	<link href="~/BlogTema/css/style.css" rel='stylesheet' type='text/css' />
	<link href="~/BlogTema/css/fontawesome-all.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
	    rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<!--Header-->


	<!--//header-->

	<!--/banner-->
	<!--//banner-->
	<!--/main-->
	<section class="main-content-w3layouts-agileits">
		<div class="container" style="margin-right:200px;">
			<h3 class="tittle" style="margin-right:350px;">Projelerinizi Herkese Açık Paylaşın</h3>
			<div class="row inner-sec">
				<!--left-->
				<div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
					<div class="blog-grid-top">

						<div class="blog_info_left_grid">
								<img src="~/BlogTema/images/githubkapak.png" class="img-fluid" alt="">							
						</div>
						<h3>
							Projelerimizi Nasıl Paylaşabiliriz ?
						</h3>
						<p>GitHub, dünyanın en büyük geliştirici topluluklarından biridir. Geliştiriciler arasında işbirliğini ve iletişimi teşvik eden bir platformdur. GitHub, geliştirme ekiplerinin aynı proje üzerinde birlikte çalışmasını ve mevcut sürümleri kesintiye uğratmadan yazılımın yeni sürümlerini kolayca oluşturmasını sağlayan bir dizi yararlı özelliğe sahiptir, ancak bu kadarla sınırlı değildir.
	<br />
	Neden GitHub kullanmalı? Bunun birkaç nedeni vardır. Birincisi, kaygan ve kolay işbirliğini ve sürüm kontrolünü mümkün kılmasıdır. Bu, herhangi bir yerden herhangi biriyle kod üzerinde çalışmanıza olanak tanır. Ek olarak, birçok işveren GitHub kullanıyor. Dolayısıyla, bir iş bulmayı planlıyorsanız, GitHub’da yolunuzu zaten biliyorsanız, gerçekten iyi görüneceksiniz. Bağlantıları, öğrenmeyi ve portföy yönlerini de unutmayın. GitHub, sağlam bir öğrenme ve işbirliği platformudur. Keşfetmek için zaman ayırın ve programlama bilginizi ne kadar genişletebileceğini görün.
</p>
<label for="exampleInputEmail1 mb-2">Yazar:Alparslan AKBAŞ</label>
					</div>
				</div>
				<!--//left-->
				<!--right-->
				<!--//right-->
			</div>
		</div>
	</section>
	<!--//main-->

	<!--footer-->

	<!---->
	<!-- js -->
	<script src="js/jquery-2.2.3.min.js"></script>
	<!-- //js -->
	<!--/ start-smoth-scrolling -->
	<script src="js/move-top.js"></script>
	<script src="js/easing.js"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!--// end-smoth-scrolling -->

	<script>
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<a href="#home" class="scroll" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>

	<!-- //Custom-JavaScript-File-Links -->
	<script src="js/bootstrap.js"></script>


</body>

</html>