<link href="~/BlogTema/css/style.css" rel="stylesheet" />
<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-4 footer-grid-agileits-w3ls text-left" style="margin-left:250px;">
					<h3>Hakkımızda</h3>
					<p>Codeland Grubu, 300’ün üzerindeki şirketi ve 19 bin çalışanıyla müşterilerine üstün teknoloji, yüksek marka kalitesi ve dinamik bir insan kaynağı ile hizmet vermektedir.</p>
					<div class="read">
						<div class="tech-btm widget_social">
							<h4 style="color:aliceblue">Sosyal Medya Hesaplarımız</h4>
							<ul>

								<li>
									<a class="twitter" href="https://twitter.com/AlparslanZombi">
										<i class="fab fa-twitter"></i>
										 Bizi Twitter'da Takip Edin</a>
								</li>
								<li>
									<a class="dribble" href="https://www.instagram.com/legolas.trr/">
										<i class="fab fa-instagram"></i>
										 Bizi Instagram'da Takip Edin</a>
								</li>
								<li>
									<a class="twitter" href="https://www.linkedin.com/in/alparslan-akbaş-29b732193/">
										<i class="fab fa-linkedin"></i>

										 Bizi Linkedin'de Takip Edin</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                   @await Component.InvokeAsync("SonBlog3")
				</div>
			</div>
			<!-- footer -->
			<div class="footer-cpy text-center">
				<div class="w3layouts-agile-copyrightbottom">
					<p>© @DateTime.Now.Year Weblog. Bütün Tasarım ve Kodlama | Alparslan Tarafından Yapılmıştır.
						<a href="https://twitter.com/AlparslanZombi">Alparslan A.Ş</a>
					</p>

				</div>
			</div>
			<!-- //footer -->
		</div>
	</footer>