@using EntityLayer.Concrete
@model List<Mesajlar2>
@{
    ViewData["Title"] = "Mesajlarınız";
    Layout = "~/Views/Shared/_AdminPaneli.cshtml";
}

<div class="page-header">
    <div class="col-12 grid-margin">
        <div class="card">
                  <div class="card-body">
              <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                  <i class="mdi mdi-message-reply-text menu-icon"></i>
                </span> Mesajlarım
              </h3>
                <table class="table table-hover">                 
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Gönderen</th>
                          <th>Konu</th>
                          <th>Tarih</th>
                          <th>Mesaja Git</th>
                        </tr>
                      </thead>
                      <tbody>
                          @foreach(var x in Model){
                        <tr>
                          <td>@x.MesajID</td>
                          <td>@x.yazargonderen.YazarAd</td>
                          <td>@x.Konu</td>
                          <td>@x.MesajTarih.ToShortDateString()</td>
                          <td><a href="~/Mesaj/Mesajım/@x.MesajID" class="btn btn-gradient-primary">Mesaja Git</a></td>
                        </tr>}
                      </tbody>
                    </table>
                    <br />
                   <a href="~/Mesaj/MesajYaz" class="btn btn-gradient-info">Yeni Mesaj Yaz </a>
                  </div>
                  </div>
                  </div>
                  </div>  
                  @await Component.InvokeAsync("AlinanMesajlar")
                  
                  